* {
    margin: 0;
    padding: 0;
}

// varabiles
$colorFont:black;
$paddingAll: 20px;

//mixins
@mixin widthMarginCenterText {
    max-width: 1000px;
    margin: 25px auto;
    text-align: center;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.intro {
    @include widthMarginCenterText();

    &__title {
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
    }

    &__link {
        text-decoration: none;
        color: $colorFont;

    }

    .fas {
        padding-left: 5px;
    }
}

.content {
    @include widthMarginCenterText();
    padding: $paddingAll;

    &__text {
        padding: $paddingAll;
        font-size: 20px;
    }

    &__button {
        width: 100px;
        font-size: 15px;
        padding: $paddingAll;
        margin: 15px;
        background-color: #7FFFD4;
        border: 1px solid #7FFFD4;
        border-radius: 20px;
        font-family: 'Raleway', sans-serif;
        transition: .3s;
    }

    &__nonVisible {
        display: none;
    }

    .codepen {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        margin: 1em 0;
        padding: 1em;
    }
}

.footer {
    &__text {
        @include widthMarginCenterText();

    }
}

@media (min-width: 1367px) {
    .content__button:hover {
        cursor: pointer;
        background-color: #fff;
        border-color: #000;
    }
}